{% extends 'main.html.twig' %}

{% block content %}

<section role="main" class="content-body">
	<header class="page-header">
		<h2 class="appear-animation fadeInLeftBig appear-animation-visible" data-appear-animation="fadeInLeftBig">Change Password</h2>

		<div class="right-wrapper pull-right appear-animation fadeInLeftBig appear-animation-visible" data-appear-animation="fadeInLeftBig">
			<ol class="breadcrumbs">
				<li>
					<a href="{{ path('homepage') }}">
						<i class="fa fa-home"></i>
					</a>
				</li>
				<li><span>Security</span></li>
				<li><span>Change Password</span></li>
			</ol>

			<a class="sidebar-right-toggle" data-open="sidebar-right"><i class="fa fa-chevron-left"></i></a>
		</div>
	</header>
	
	<div class="row">

		<div class="col-md-8 col-lg-8 col-sm-12">
			<section class="panel appear-animation fadeInRightBig appear-animation-visible" data-appear-animation="fadeInRightBig">

				<div class="panel-body">
					<form action="{{ path('changepassword') }}" method="POST">

						<h4 class="mb-xlg">Change Password</h4>
						<div class="form-group">
							<label class="col-md-3 control-label" for="CurrentPassword">Current Password</label>
							<div class="col-md-8">
								<input type="password" name="cpass" class="form-control input-sm" id="CurrentPassword"
									required autofocus>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label" for="NewPassword">New Password</label>
							<div class="col-md-8">
								<input type="password" name="npass" class="form-control input-sm" id="NewPassword"
									required>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-3 control-label" for="NewPasswordRepeat">Repeat New
								Password</label>
							<div class="col-md-8">
								<input type="password" name="rnpass" class="form-control input-sm"
									id="NewPasswordRepeat" required>
							</div>
						</div>
						<div class="panel-footer">
							<div class="row">
								<div class="col-md-9 col-md-offset-3">
									<button type="submit" class="btn btn-primary">Change</button>
								</div>
							</div>
						</div>

					</form>

				</div>
			</section>
		</div>
	</div>
</section>

{% endblock %}